.list-items
  display: block
  width: 80%
  border-bottom: 0.1em solid $color-default--3
  padding: 1em
  margin-left: 5%
  @media only screen and (min-width: 450px)
    margin-left: 35%
    width: 45%
  h1
    font-size: 1.3em
    margin-bottom: 0.3em

