// Global Config

// Font Stacks

@font-face
  font-family: 'Kreon', serif
  src: url('http://fonts.googleapis.com/css?family=Kreon')

@font-face
  font-family: 'Quattrocento Sans', sans-serif
  src: url('http://fonts.googleapis.com/css?family=Quattrocento+Sans')

$font-family--headings    : 'Kreon', serif
$font-family--body        : 'Quattrocento Sans', sans-serif

// Color Usage

$color-primary--1    : #054154
$color-primary--2    : #07556e
$color-primary--3    : #126989
$color-primary--4    : #297b97
$color-primary--5    : #468fa6
$color-primary--6    : lighten(#468fa6, 20)
$color-primary--7    : lighten(#468fa6, 35)
$color-primary--8    : lighten(#468fa6, 45)
$color-secondary--1  : #861c19
$color-secondary--2  : #af2424
$color-tertiary--1   : #fffbf2
$color-tertiary--2   : lighten(#fffbf2, 30)
$color-negative--1   : white
$color-default--1    : black
$color-default--2    : lighten(black, 50)
$color-default--3    : lighten(black, 65)

body
  background-color: $color-primary--7

h1
  font-family: $font-family--headings
  color: $color-primary--5

p
  font-family: $font-family--body
  color: $color-default--2
