<DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>involve - Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="sass/styles.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
  <header class="site-banner">
    <div class="navbar">
      <nav class="responsive-menu">
        <img class="menu-button" src="images/menu.svg">
        <ul>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="index.html">Calendar</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="favorites.html">Favorites</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-main">
      <img class="logo" src="images/involve_logo.svg">
    </div>
  </header>
  <div class="flex-container">
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>{{event.eventTitle}}</h1>
        <p>{{event.eventAddress}}</p>
        <p>{{event.eventDate}}</p>
      </div>
    </div>

<!--
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
    <div data-ng-repeat="event in events" class="flex-items list-items">
      <div data-ng-click="viewLarge(event)">
        <h1>Heading</h1>
        <p>Address</p>
        <p>Date</p>
      </div>
    </div>
-->


  </div>
  <footer>
  </footer>
</body>
</html>
