<html>
<head>
  <meta charset="UTF-8">
  <title>involve</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="sass/styles.css">
  <link rel="shortcut icon" href="images/favicons/favicon.ico">
  <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
</head>
<body>
  <header class="site-banner">
    <div class="navbar">
      <nav class="responsive-menu">
        <ul>
          <img class="menu-button" src="images/menu.svg">
          <!--
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="index.html">Calendar</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="favorites.html">Favorites</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!">Logout</li>
        -->
        </ul>
      </nav>
    </div>
    <div class="header-main">
      <img class="logo" src="images/involve_logo.svg">
    </div>
  </header>
  <div>
    <h1></h1>
    <p></p>
    <p></p>
    <p></p>
    <button></button>
    <button></button>
  </div>
  <footer>
  </footer>
</body>
</html>
