<DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>involve - Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="sass/styles.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>

  <div data-ng-app="involveApp">

    <div data-ng-controller="navCtrl">

      <div data-ng-if="loggedIn" >

        <header class="site-banner">
          <div class="navbar">
            <nav class="responsive-menu">
              <img class="menu-button" src="images/menu.svg">
              <ul>
                <li ng-click="calendar()"><a href="index.html">Calendar</a></li>
                <li ng-click="favorites()"><a href="favorites.html">Favorites</a></li>
                <li ng-click="logout()"><a href="#">Logout</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-main">
            <img class="logo" src="images/involve_logo.svg">
        </header>

      </div>
    </div>




    <div data-ng-view>
    </div>
  </div>

  <script src="bundle.js"></script>
  <footer>
  </footer>
</body>
</html>
