<div data-ng-controller="calendCtrl" data-ng-init="index()">
  <div data-ng-repeat="event in events">
    <div>
      <div data-ng-click="viewLarge(event)" data-ng-hide='show'>
        <!-- <button data-ng-click="viewLarge(event)";></button> -->
        <p>{{event.eventTitle}}</p>
        <!-- <p>{{event.eventContent}}</p> -->
        <!-- <p>{{event.eventContentLong}}</p> -->
        <a href={{event.eventUrl}}>Calendar Listing</a>

      </div>
    </div>
  </div>

  <div data-ng-show='show'>
    <div>
      <button data-ng-click="viewAll()">View All</button>
      <div>
        <button data-ng-click='inviteFriend = !inviteFriend'>Invite a Friend!</button>
        <div data-ng-show='!inviteFriend'>
          <form name='invitationForm'>
            <input type='text' placeholder='friends email' ng-model='user.friendEmail'>
            <input type='text' placeholder='message' ng-model='user.friendMessage'>
            <button data-ng-click='invite(); inviteFriend = false'>Send Invitation</button>
          </form>
        </div>
      </div>

      <h1>{{currentEvent.eventTitle}}</h1>
      <!-- <p>{{event.eventContent}}</p> -->
      <!-- <p>{{event.eventContentLong}}</p> -->
      <a href={{currentEvent.eventUrl}}>newListing</a>
      <h1>Address</h1>
      <p>Council Chambers</p>
      <p>Seattle City Hall Floor</p>
      <p>2600 Fourth Avenue</p>
      <p>Seattle, WA</p>
      <p>{{event.eventDate}}</p>
    </div>
  </div>
</div>
