
<div class="main-container clearfix">
  <div data-ng-controller="calendCtrl" data-ng-init="index()">
    <section class="side-box side-box--mobile-width">
      <figure class="city-image"></figure>
      <h1>Seattle</h1>
    </section>
    <section class="main-content extra-margin-left main-content--mobile-width">
      <div data-ng-repeat="event in events" class="flex-items">
        <div data-ng-hide="show" data-ng-click="viewLarge(event)">
          <section class="list-items">
            <h1>{{event.eventTitle}}</h1>
            <p>{{event.eventAddress}}</p>
            <p>{{event.eventDate}}</p>
          </section>
        </div>
      </div>
      <div data-ng-show='show'>
        <div>
          <button data-ng-click="viewAll()">View All</button>
          <div>
            <button data-ng-click='inviteFriend = !inviteFriend'>Invite a Friend!</button>
            <div data-ng-show='inviteFriend'>
              <form name='invitationForm'>
                <input type='text' placeholder='friends email' ng-model='user.friendEmail'>
                <input type='text' placeholder='message' ng-model='user.friendMessage'>
                <button data-ng-click='invite(); inviteFriend = false'>Send Invitation</button>
              </form>
            </div>
          </div>
          <h1>{{currentEvent.eventTitle}}</h1>
          <!-- <p>{{event.eventContent}}</p> -->
          <!-- <p>{{event.eventContentLong}}</p> -->
          <a href={{currentEvent.eventUrl}}>newListing</a>
          <h1>Address</h1>
          <p>Council Chambers</p>
          <p>Seattle City Hall Floor</p>
          <p>2600 Fourth Avenue</p>
          <p>Seattle, WA</p>
          <p>{{event.eventDate}}</p>
        </div>
      </div>
    </section>
  </div>
</div> <!-- closes main-container -->
<footer>
  <div class="site-footer">
    <p>A Project for Code Fellows by Jacob Shafer, Chareesa Graham, Stephanie Lingwood, Sheyna Watkins and Henok Kidane</p>
  </div>
</footer>


