/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'kreonregular';
  src: url('fonts/kreon-regular-webfont.eot');
  src: url('fonts/kreon-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/kreon-regular-webfont.woff2') format('woff2'), url('fonts/kreon-regular-webfont.woff') format('woff'), url('fonts/kreon-regular-webfont.ttf') format('truetype'), url('fonts/kreon-regular-webfont.svg#kreonregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'quattrocento_sansregular';
  src: url('fonts/quattrocentosans-regular-webfont.eot');
  src: url('fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/quattrocentosans-regular-webfont.woff2') format('woff2'), url('fonts/quattrocentosans-regular-webfont.woff') format('woff'), url('fonts/quattrocentosans-regular-webfont.ttf') format('truetype'), url('fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #cee3ea; }

h1 {
  font-family: 'kreonregular', serif;
  color: #468fa6; }

p {
  font-family: 'quattrocento_sansregular', sans-serif;
  color: #666666; }

.clearfix {
  overflow: auto; }

.extra-margin-left {
  margin-left: 0; }
  @media only screen and (min-width: 450px) {
    .extra-margin-left {
      margin-left: 1em; } }

.site-banner {
  background-color: #468fa6;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
  border-bottom: 0.4em solid #af2424; }

.logo {
  width: 8em;
  margin: 0.2em 0 0 0.3em;
  padding: 0; }
  @media only screen and (min-width: 450px) {
    .logo {
      width: 10em; } }
  @media only screen and (min-width: 1000px) {
    .logo {
      width: 12em; } }

.responsive-menu {
  float: right;
  right: 0;
  position: relative; }
  .responsive-menu ul {
    position: absolute;
    list-style: none;
    z-index: 1;
    left: -9999px;
    /* Hide off-screen when not needed (this is more accessible than display:none;) */ }
    .responsive-menu ul li {
      padding: 0.8em 0.8em 0.8em 4em;
      float: none;
      background-color: #fffbf2;
      border-bottom: 0.3em solid #af2424;
      text-align: right; }
    .responsive-menu ul a {
      white-space: nowrap;
      font-family: 'quattrocento_sansregular', sans-serif;
      color: #666666;
      background-color: #fffbf2;
      font-size: 1.5em;
      text-align: right; }
  .responsive-menu:hover ul {
    margin-top: 3em;
    position: fixed;
    direction: rtl;
    float: right;
    left: auto;
    right: 0; }
    @media only screen and (min-width: 450px) {
      .responsive-menu:hover ul {
        margin-top: 3.4em; } }
    @media only screen and (min-width: 1000px) {
      .responsive-menu:hover ul {
        margin-top: 4.2em; } }
  .responsive-menu:hover ul a {
    text-decoration: none; }
  .responsive-menu:hover ul li:hover {
    background-color: #aacfdb; }
  .responsive-menu:hover ul li:hover a {
    background-color: #aacfdb; }

.menu-button {
  position: absolute;
  width: 3em;
  margin: 1em 1em 0 0;
  right: 0.3em; }
  @media only screen and (min-width: 450px) {
    .menu-button {
      width: 3.3em;
      margin: 1.2em 1.2em 0 0; } }
  @media only screen and (min-width: 1000px) {
    .menu-button {
      width: 4em;
      margin: 1.5em 1.8em 0 0; } }

.main-container {
  width: 100%;
  margin: 2% 20% 5% 4%; }
  @media only screen and (min-width: 450px) {
    .main-container {
      padding: 5% 5% 5% 5%; } }

.site-footer {
  margin-top: 5%;
  padding: 2em; }
  .site-footer p {
    font-size: 0.8em;
    text-align: center; }

.side-box {
  width: 100%;
  float: none;
  position: relative; }
  @media only screen and (min-width: 450px) {
    .side-box {
      width: 35%;
      float: left; } }
  .side-box h1 {
    font-size: 2em; }

.main-content {
  width: 100%;
  float: none;
  position: relative; }
  @media only screen and (min-width: 450px) {
    .main-content {
      width: 45%;
      float: left; } }

.list-items {
  display: block;
  width: 100%;
  border-bottom: 0.1em solid #a6a6a6;
  padding: 1em; }
  .list-items h1 {
    font-size: 1.3em;
    margin-bottom: 0.3em; }

.city-image {
  background: url('../images/cityimage_seattle.jpg');
  background-size: cover;
  background-position: 0% 10%;
  width: 100%;
  height: 3em;
  margin-bottom: 1em; }
  @media only screen and (min-width: 450px) {
    .city-image {
      height: 8em;
      background-position: 0 0; } }

/* hacks */
@media only screen and (max-width: 450px) {
  .side-box--mobile-width {
    width: 90%; } }

@media only screen and (max-width: 450px) {
  .main-content--mobile-width {
    width: 80%; } }

.access {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center; }
  .access .access_login {
    display: block;
    margin: 5%; }
  .access .access_signup {
    display: block;
    margin: 5%; }
  .access .access-p {
    font-size: 3em; }

form {
  margin: 1.5em; }

button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em 2.5em;
  background-color: #aacfdb;
  color: #fffbf2;
  button: active;
  button-background-color: #468fa6; }
