/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Kreon', serif;
  src: url('http://fonts.googleapis.com/css?family=Kreon'); }

body {
  background-color: #bcd9e3; }

h1 {
  font-family: 'Kreon', serif;
  color: #468fa6; }

p {
  font-family: 'Kreon', serif;
  color: gray; }

.site-banner {
  background-color: #468fa6;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
  border-bottom: 0.4em solid #af2424; }

.responsive-menu {
  float: right;
  right: 0;
  position: absolute; }
  .responsive-menu ul {
    position: relative;
    /* absolute? */
    list-style: none;
    left: -9999px;
    /* Hide off-screen when not needed (this is more accessible than display:none;) */ }
    .responsive-menu ul li {
      padding: 0.6em;
      float: none;
      background-color: #fffbf2;
      border-bottom: 0.3em solid #af2424;
      text-align: right; }
    .responsive-menu ul a {
      white-space: nowrap;
      font-family: 'Kreon', serif;
      color: gray;
      background-color: #fffbf2;
      font-size: 1.5em;
      text-align: right; }
  .responsive-menu:hover ul {
    margin-top: 1.1em;
    width: 100%;
    left: auto;
    right: 0; }
    @media only screen and (min-width: 450px) {
      .responsive-menu:hover ul {
        margin-top: 1.6em; } }
  .responsive-menu:hover ul a {
    text-decoration: none; }
  .responsive-menu:hover ul li:hover {
    background-color: #e0edf2; }
  .responsive-menu:hover ul li:hover a {
    background-color: #e0edf2; }

.logo {
  width: 8em;
  margin: 0.2em 0 0 0.3em;
  padding: 0; }
  @media only screen and (min-width: 450px) {
    .logo {
      width: 10em; } }
  @media only screen and (min-width: 1000px) {
    .logo {
      width: 12em; } }

.menu-button {
  width: 3em;
  margin: 1em 1em 0 0; }
  @media only screen and (min-width: 450px) {
    .menu-button {
      width: 3.3em;
      margin: 1.2em 1.2em 0 0; } }
  @media only screen and (min-width: 1000px) {
    .menu-button {
      width: 4em;
      margin: 1.5em 1.8em 0 0; } }

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin: 0.5em; }

.flex-items {
  background-color: white;
  border: 0.1em solid #a6a6a6;
  border-radius: 0.5em;
  flex-grow: 1;
  margin: 0.5em;
  padding: 1em; }
  .flex-items h1 {
    font-size: 1.3em;
    margin-bottom: 0.3em; }
