<html>
<head>
  <meta charset="UTF-8">
  <title>Event</title>
</head>
<body>
  <header>
    <img src="#">
    <div class="navbar">
      <nav class="responsive-menu">
        <ul>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="index.html">Calendar</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!"><a href="favorites.html">Favorites</a></li>
          <li ng-click="FUNCTIONGOESHERE!!!">Logout</li>
        </ul>
      </nav>
    </div>
  </header>
  <div>
    <h1></h1>
    <p></p>
    <p></p>
    <p></p>
    <button></button>
    <button></button>
  </div>
