<header class="site-banner">

  <div class="navbar">
    <nav class="responsive-menu">
      <img class="menu-button" src="images/menu.svg" data-ng-click="showMenu = !showMenu">
      <ul data-ng-if="showMenu" class="responsive-menu">
        <li ng-click="calendar()"><a href>Calendar</a></li>
        <li ng-click="mymeetings()"><a href>My Meetings</a></li>
        <li ng-click="logout()"><a href>Logout</a></li>
      </ul>
    </nav>
  </div>

  <img class="logo" src="images/involve_logo.svg">
</header>
