<div>
  <h1>HELLO!!</h1>
  <div data-ng-controller='loginCtrl' data-ng-init='index()'>

  <!-- <div data-ng-> -->
  <div>
    <button data-ng-click='user.loggingIn = true'>Log In</button>
    <div data-ng-show='user.loggingIn'>
      <input type='text' placeholder='email' data-ng-model='user.email'>
      <input type='password' placeholder='password' data-ng-model='user.password'>
      <input type='submit' value='Get Involved!'>
    </div>
  </div>
  <div>
    <button data-ng-click='user.signingUp = true'>Sign Up</button>
    <div data-ng-show='user.signingUp'>
      <input type='text' placeholder='email' data-ng-model='newuser.email'>
      <input type='password' placeholder='password' data-ng-model='user.password'>
      <input type='password' placeholder='passwordConfirm'>
      <input type='text' placeholder='city' data-ng-model='user.locations'>
      <input type='submit' value='Get Involved!'>
    </div>
  </div>
</div>
