<div>
  <h1>HELLO!!</h1>
<!-- div data-ng-controller='loginCtrl' data-ng-init='index()'> -->

  <!-- <div data-ng-> -->
  <!-- <div>
    <button data-ng-click='login(email, password)'>Log In</button>
    <input type='text' placeholder='email' data-ng-model='user.email'>
    <input type='password' placeholder='password' data-ng-model='user.password'>
  </div>
  <div>
    <button data-ng-click='signUp(email, password, password confirm, location)'>Sign Up</button>
    <input type='text' placeholder='email' data-ng-model='user.email'>
    <input type='password' placeholder='password' data-ng-model='user.password'>
    <input type='password' placeholder='passwordConfirm'>
    <input type='text' placeholder='city' data-ng-model='user.locations'>
  </div> -->
</div>
